body {
    font-family: sans-serif
}

h1 {
    text-align: center;
    font-size: 32px;
}

h2 {
    font-size: 16px;
    float:left;
    margin-left:3%;
}

img {
    display: block;
    margin: auto;
    width: 400px;
    height: 150px;
}

div{
    clear:both;
    padding-top:10px;
}
label {
    text-align: right;
    width: 300px;
    float: left;
    font-weight: bold;
    padding-right: 20px;
}
textarea {
    width: 170px;
    height: 100px;
    float: left;
}
select{
    float: left;
}


input[type=submit] {
    display:block;
    margin: auto;
}

.floating-box {
    display: inline-block;
    width: 250px;
    margin: 20px;
    text-align: center;
    vertical-align: text-top;
}
